@model IEnumerable<LagerApp.Model.Artikel>

@{
    ViewData["Title"] = "Home Page";
}


<h1>Meine PickListen</h1>
<a href="~/uploads/">Meine PickListen</a>

<h2>Artikel</h2>
<table class="table">
    <tr>
        <th>Artikel ID</th>
        <th>Lager Platz</th>
        <th>Lager Box</th>
        <th>Box Lager Platz</th>
    </tr>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LagerPlatzOhneBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LagerBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LagerPlatz)
            </td>
            
        </tr>
    }
}
else
{
    <tr>
        <td>
            leer
        </td>
        <td>
            leer
        </td>
        <td>
            leer
        </td>
        <td>
            leer
        </td>

    </tr>

}
</table>