@model IEnumerable<LagerApp.Model.Artikel>

@{
    ViewData["Title"] = "Home Page";
}


<h2>Artikel</h2>
<table class="table">
    <tr>
        <th>Artikel ID</th>
        <th>Lager Box</th>
        <th>Lager Platz</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LagerBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LagerPlatz)
            </td>
            
        </tr>
    }
</table>